@model TimeSlotGridRow[]

@section SubNav
{
    @await Html.PartialAsync("SubNavigation", SubNavigationMenu.Timeslots)
}

<h2 class="admin-heading">Timeslots</h2>
<div class="admin-add-btn">
    @Html.ActionLink("Add Time Slot", "AddTimeSlot", "Admin", null,
        new {@class="btn btn-success btn-block"})
</div>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Hall</th>
            <th>Movie</th>
            <th>Format</th>
            <th>Start Time</th>
            <th>Cost</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var timeslot in Model)
        {
            <tr>
                <td>@timeslot.Id</td>
                <td>@(timeslot.Hall?.Name)</td>
                <td>@(timeslot.Movie?.Title)</td>
                <td>@timeslot.Format</td>
                <td>@timeslot.StartTime</td>
                <td>@timeslot.Cost</td>
                <td class="col-lg-2">
                    @Html.ActionLink("Edit", "EditTimeslot", "Admin", new {timeslotId = timeslot.Id}, new {@class = "btn btn-primary btn-block"})
                    @Html.ActionLink("Remove", "RemoveTimeslot", "Admin", new { timeslotId = timeslot.Id, movieId = (int?)ViewData["MovieId"] }, new { @class = "btn btn-danger btn-block" })
                </td>
            </tr>
        }
    </tbody>
</table>
