@using Cinema.Models.Tickets
@using Cinema.Models.Tickets.Enums
@model Cinema.Models.Tickets.HallInfo

@functions {

    string CheckSeatClass(int row, int seat)
    {
        var matchingSeat = Model.RequestedSeats?.FirstOrDefault(x => x.Row == row && x.Seat == seat);

        if (matchingSeat == null) return string.Empty;

        return matchingSeat.Status == RequestStatus.Buy ? "is-sold" : "is-reserved";
    }

    string CheckSeatAvailability(int row, int seat)
    {
        var matchingSeat = Model.RequestedSeats?.FirstOrDefault(x => x.Row == row && x.Seat == seat);

        if (matchingSeat == null) return string.Empty;

        return "disabled";
    }
}

<h1>Select your seat</h1>

<div class="row js-seat-container" data-current-cost="@Model.TicketCost.ToString("####")" data-current-timeslot-id="@Model.CurrentTimeSlotId">
    <div class="col-md-10">
        @for (var i = 1; i <= Model.RowsCount; i++)
        {
            <div class="cinema-row">
                <div class="cinema-row-label">@i</div>
                @for (var j = 1; j <= Model.ColumnsCount; j++)
                {
                    <div class="cinema-seat @CheckSeatClass(i,j)">
                        <input class="js-seat-selector" type="checkbox" id="check-row@(i)-col@(j)" data-seat-row="@i" data-seat-col="@j" @CheckSeatAvailability(i, j)>
                        <label class="seat-label" for="check-row@(i)-col@(j)">@j</label>
                    </div>
                }
            </div>
        }
    </div>
    <div class="col-md-2">
        Selected seats :
        <div class="js-seat-result-container"></div>
        <div class="btn btn-info btn-block js-reserve-seats">Make a reservation</div>
        <div class="btn btn-success btn-block js-buy-seats">Buy tickets</div>
    </div>
</div>

<script id="js-selected-seat-template" type="text/x-handlebars-template">
    {{#each addedSeats}}
    <div>
        Row:{{row}} Seat:{{seat}}
    </div>
    {{/each}}
    {{#if addedSeats}}
    <div>
        Total:{{sum}}
    </div>
    {{/if}}
</script>
